# WebStorm
/.idea

# framework
/ext

# cordova (auto generated / downloaded files)
/cordova/plugins
/cordova/platforms
/cordova/www

# manifest
/*.json
!/app.json
!/workspace.json

# bootstrap
/bootstrap.js
/bootstrap.css

# builds
/build